html, body {
    height: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 1rem;
    background: radial-gradient(circle at 10% 20%, #bc8fab 0%, #404972 80%);
}

.canvas {
    position: absolute;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
}