html, body {
    height: 100%;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 1rem;
}

.canvas {
    position: absolute;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
}