.default-theme {
    --sun-position-x: 50%;
    --sun-position-y: -20%;

    --bg-color-1: #e5edf5;
    --bg-color-2: #b7cfe3;
    --bg-color-3: #d9efff;

    --snow-color: #d7ecff;
    --smoke-color: #93a6b9;

    /* Background */
    --mountain-color-top: #81afd1;
    --mountain-color-bottom: #4d697e;
    --tree-color-top: #6e92b7;
    --tree-color-bottom: #2d4257;

    /* House sprite*/
    --house-fill: #274163;
    --light-color: #f5e38f;
}

.dawn-theme {
    --sun-position-x: 0%;
    --sun-position-y: 50%;

    --bg-color-1: #ffe7d5;
    --bg-color-2: #fffbf8;
    --bg-color-3: #f8ebd9;

    --snow-color: #bcbcb0;
    --smoke-color: #737e76;

    /* Background */
    --mountain-color-top: #a5b4ae;
    --mountain-color-bottom: #464843;
    --tree-color-top: #7f8f8a;
    --tree-color-bottom: #25332e;

    /* House sprite*/
    --house-fill: #25322e;
    --light-color: #d9d5bf;
}

.dawn-theme .loader-icon {
    filter: sepia(1) hue-rotate(160deg);
}

.twilight-theme {
    --sun-position-x: 30%;
    --sun-position-y: 20%;

    --bg-color-1: #fff9f1;
    --bg-color-2: #f5f1ea;
    --bg-color-3: #f9e7d1;

    --snow-color: #c8eaf1;
    --smoke-color: #37799b;

    /* Background */
    --mountain-color-top: #7cd4ed;
    --mountain-color-bottom: #1a6e9c;
    --tree-color-top: #6abada;
    --tree-color-bottom: #023048;

    /* House sprite*/
    --house-fill: #0a4c7b;
    --light-color: #fcf3e7;
}

.twilight-theme .loader-icon {
    filter: sepia(1) hue-rotate(100deg);
}

.sunset-theme {
    --sun-position-x: 70%;
    --sun-position-y: 20%;

    --bg-color-1: #ffffe3;
    --bg-color-2: #ffe6c0;
    --bg-color-3: #fdc975;

    --snow-color: #eac7bf;
    --smoke-color: #e29b7e;

    /* Background */
    --mountain-color-top: #feb060;
    --mountain-color-bottom: #aa473f;
    --tree-color-top: #e79451;
    --tree-color-bottom: #a84f3a;

    /* House sprite*/
    --house-fill: #491a10;
    --light-color: #fdedcb;
}

.sunset-theme .loader-icon {
    filter: sepia(1) hue-rotate(324deg);
}

.dusk-theme {
    --sun-position-x: 100%;
    --sun-position-y: 50%;

    --bg-color-1: #fecbc8;
    --bg-color-2: #bc8fab;
    --bg-color-3: #404972;

    --snow-color: #7581b8;
    --smoke-color: #313b61;

    /* Background */
    --mountain-color-top: #84759c;
    --mountain-color-bottom: #2e3967;
    --tree-color-top: #5c547c;
    --tree-color-bottom: #1f1842;

    /* House sprite*/
    --house-fill: #222a50;
    --light-color: #fffeee;
}

.dusk-theme .loader-icon {
    filter: sepia(1) hue-rotate(213deg) contrast(0.8);
}

.night-theme {
    --sun-position-x: 50%;
    --sun-position-y: 80%;

    --bg-color-1: #dbe3e7;
    --bg-color-2: #253646;
    --bg-color-3: #1e2830;

    --snow-color: #2c363f;
    --smoke-color: #121b23;

    /* Background */
    --mountain-color-top: #2a3b4b;
    --mountain-color-bottom: #131c23;
    --tree-color-top: #080f14;
    --tree-color-bottom: #080f14;

    /* House sprite*/
    --house-fill: #101218;
    --light-color: #dbe3e7;
}

.night-theme .loader-icon {
    filter: sepia(1) hue-rotate(165deg) contrast(0.6);
}