body.white-theme {
    color: #555;
    background: #ece9e9 linear-gradient(180deg, #fff, #ece9e9) no-repeat;
}

.white-theme button {
    color: black;
}

.white-theme button:hover {
    background: rgba(155, 155, 155, 0.1);
}

.white-theme button:active {
    background: rgba(110, 110, 110, 0.2);
}

.white-theme input[type=text] {
    color: black;
    border-bottom: 0.1em solid #606060;
}

.white-theme input[type=text]:disabled {
    color: #606060;
}

.white-theme input[type=checkbox] {
    border: 0.1em solid #606060;
}

.white-theme input[type=checkbox]:not(:checked)::before {
    background: #606060;
}

.white-theme .dialog {
    background: white;
    border: 0.1rem solid rgba(90, 90, 90, 0.5);
}

.white-theme .dialog .dialog-caption {
    border-bottom: 0.1rem solid #606060;
}

.white-theme [data-tooltip]:before {
    background: #f3f3f3;
}

.white-theme .dialog button.dialog-close {
    border: 0.1em solid #606060;
}

.white-theme .settings-button {
    position: absolute;
    right: 1em;
    bottom: 1em;
}

.white-theme .settings-dialog .dialog {
    padding: 0 1em 1em 1em;
    box-sizing: border-box;
    max-height: calc(100vh - 1em);
    max-width: max(40vw, 400px);
}

.white-theme .settings-dialog .dialog-close.settings-close {
    position: absolute;
    right: 0;
    border: none;
}

.white-theme .settings-close > img {
    width: 1.5em;
    height: 1.5em;
}

.white-theme .settings-dialog .settings-dialog-caption {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
    padding-top: 0.5em;
}